{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

 {% include 'navbar.html'  %}

{% block content %}

<h2><strong>Title: {{ movie.title }} </strong></h2>
<h3><strong>Rating: {{ movie.rating }} </strong> </h3>
<h4><strong>Crew: {{ movie.crew }} </strong> </h4>

<img src="{{ movie.image }}">
{% if request.user.is_authenticated %}
<p>
    <button class='button-text'><a href='/seen/{{ movie.id }}'>I've seen this</a></button>
    <button class='button-text'><a href='/watchlist/{{ movie.id }}'>Add to watchlist</a></button>    
</p>
{% endif %}


{% comment %} {% for review in reviews%}

    <li>Review: {{ review.title }}</li>
    <li>By: {{ review.author}}</li>

{% endfor %} {% endcomment %}
{% endblock %}


