
<style>
    h3 {
        display: inline
    }
    img {
        height: 300px;
        width: 300px;
    }
</style>

<h3><a href='/movies/'>All Movies</a></h3> | 
{% if request.user.is_authenticated %}
    <h3><a href='/user/{{user.id}}/'>Profile</a></h3> | 
{% endif %}
<h3><a href='/'>Return to Homepage</a> | 
<h3><a href='/logout/'>Log out</a></h3>
<br><br>

<strong>Title: {{ movie.title }} </strong> 
<strong>Stars: {{ movie.stars }} </strong> 
<strong>Stars: {{ movie.rating }} </strong> 
<strong>Crew: {{ movie.crew }} </strong> 

<img src="{{ movie.image }}"/>
{% if request.user.is_authenticated %}
    <button><a href='/seen/{{ movie.id }}'>I've seen this</a></button>
    <button><a href='/watchlist/{{ movie.id }}'>I want to see this</a></button>
    <a href='/reviews/{{ movie.id }}'> Review </a>
{% endif %}


{% for review in reviews%}

    <li>Review: {{ review.title }}</li>
    <li>By: {{ review.author}}</li>

{% endfor %}


