<strong>Title: {{ movie.title }} </strong> 
<strong>Stars: {{ movie.stars }} </strong> 
<strong>Stars: {{ movie.rating }} </strong> 
<strong>Crew: {{ movie.crew }} </strong> 

<img src="{{ movie.image }}"/>
<button><a href='/seen/{{ movie.id }}'>I've seen this</a></button>
<button><a href='/watchlist/{{ movie.id }}'>I want to see this</a></button>
<h3><a href="/reviews/{{ movie.id }}">Review this Movie</a></h3>
<h3><a href='/movies/'>Continue Browsing</a></h3>
<h3><a href='/'>Return to Homepage</a></h3>
{% for review in reviews%}

    <li>Review: {{ review.title }}</li>
    <li>By: {{ review.author}}</li>

{% endfor %}


